/* Encabezado */
header {
    display: flex;
    align-items: center;
    background-color: #00a2ad;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
}

#logo-link{
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: white;
    margin-right: 60px;
}
#logo {
    height: 80px;
    margin-right: 20px;
}

h1 {
    margin: 0; 
    font-size: 1.5rem;
    white-space: nowrap;
}

nav ul {
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    transition: color 0.3s;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
}

section {
    margin-bottom: 40px;
}

/* Estilos del modo claro */
body.claro {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos del modo oscuro */
body.oscuro {
    background-color: #121212;
    color: #ffffff;
}

/* Estilos del botón */
button {
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

/* Cambios de color del botón en ambos modos */
body.claro button {
    background-color: #333;
    color: #ffffff;
}

body.oscuro button {
    background-color: #ffffff;
    color: #333;
}

.background-img {
    background: url('background.jpg') no-repeat center center/cover;
    padding: 40px;
    text-align: center;
    color: white; /* Asegura legibilidad */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra para resaltar el texto */
}

.background-img h2 {
    margin: 10px 0;
    font-size: 2rem;
}

.background-img p {
    margin-top: 15px;
    font-size: 1.2rem;
}
  

.carrusel {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .imagenes img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
}

  button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

  button.prev {
    left: 10px;
  }

  button.next {
    right: 10px;
  }

  button.prev:hover, button.next:hover {
    background: rgba(0, 0, 0, 0.8);
  }

      /* Pie de página */
footer {
    background-color: #00a2ad;
    color: white;
    text-align: center;
    padding: 20px; 
    margin: 0; 
}

.social-icons img {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
